<!DOCTYPE html>
<html lang="{{ lang() }}" dir="{% if is_rtl() %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="utf-8">
    <title>
        {% if title is defined %}{{ title }} | {% endif %}
        {{ msg('app-title') }}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}" />
</head>
<body>
    <header>
        <h1><a href="{{ path('home') }}">{{ msg('app-title') }}</a></h1>
        <p>
            {% if logged_in_user() %}
                <span class="logged-in-as">{{ msg( 'logged-in-as', [ logged_in_user().username ] ) }}</span>
                <a href="{{ path('toolforge_logout') }}">{{ msg('logout') }}</a>
            {% else %}
                <a href="{{ path('toolforge_login') }}">{{ msg('login') }}</a>
            {% endif %}

            {% if flickr_logged_in %}
                <a href="{{ path('flickr_logout') }}">{{ msg('flickr-logout') }}</a>
                {#<a href="{{ path('flickr_dupes') }}">{{ msg('flickr-dupes-compare') }}</a>#}
            {% else %}
                <a href="{{ path('flickr_login') }}">{{ msg('flickr-login') }}</a>
            {% endif %}
        </p>
    </header>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert {{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    {% if alerts is defined %}
        {% for alert in alerts %}
        <div class="alert {{ alert.type }}">{{ alert.message }}</div>
        {% endfor %}
    {% endif %}

    <main>{% block main %}{% endblock %}</main>

    <script type="text/javascript">
        var appConfig = {
            baseUrl: "{{ asset('') }}",
            assetsPath: "{{ asset('assets') }}",
            {# This var is used for the Universal Language Selector. #}
            languages: {{ all_langs()|json_encode|raw }}
        };
        {% block script %}{% endblock %}
    </script>
    <script type="application/javascript" src="{{ asset('assets/app.js') }}"></script>
</body>
</html>
