<!DOCTYPE html>
<html lang="{{ lang() }}" dir="{% if is_rtl() %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="utf-8">
    <title>
        {% if title is defined %}{{ title }} | {% endif %}
        {{ msg('app-title') }}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}" />
</head>
<body>
    <header>
        <h1><a href="{{ path('home') }}">{{ msg('app-title') }}</a></h1>
        <p>
            {% if logged_in_user() or flickr_logged_in %}
                <a href="{{ path('toolforge_logout') }}">{{ msg('logout') }}</a>
            {% endif %}
        </p>
    </header>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert {{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    {% if alerts is defined %}
        {% for alert in alerts %}
        <div class="alert {{ alert.type }}">{{ alert.message }}</div>
        {% endfor %}
    {% endif %}

    <main>{% block main %}{% endblock %}</main>

    <footer>
        <p>
            <a href="https://commons.wikimedia.org/wiki/Special:MyLanguage/Commons:Flickrdash">{{ msg('version', [git_tag()]) }}</a>
            <a href="https://phabricator.wikimedia.org/tag/tool-flickrdash/">{{ msg('issue-tracker') }}</a>
            <a href="https://github.com/samwilson/flickrdash">{{ msg('source-code') }}</a>
            <a href="https://www.gnu.org/licenses/gpl-3.0.html">{{ msg( 'licenced-under' ) }}</a>
        </p>
    </footer>

    <script type="text/javascript">
        var appConfig = {
            baseUrl: "{{ asset('') }}",
            assetsPath: "{{ asset('assets') }}",
            {# This var is used for the Universal Language Selector. #}
            languages: {{ all_langs()|json_encode|raw }}
        };
        {% block script %}{% endblock %}
    </script>
    <script type="application/javascript" src="{{ asset('assets/app.js') }}"></script>
</body>
</html>
