{% extends 'base.html.twig' %}

{% block main %}

    <section class="photo-and-map">
        <div class="photo">
            {% if commons_file %}
                <img src="{{ commons_file.img_src }}" />
            {% elseif flickr_file %}
                {#{{ dump(flickr_file) }}#}
                <img src="{{ flickr_file.img_src }}" />
            {% endif %}
        </div>
        <div class="map" id="map">
        </div>
    </section>

    <form action="" method="post" class="edit-form">

        <div class="two-cols">
            <section class="commons col form">
                <p>
                    {{ msg('navigation') }}
                    <a href="{{ path('commons_geotodo') }}">{{ msg('geotodo') }}</a>
                </p>
                <h2>
                    <em>{{ msg('commons') }}</em>
                    {% if commons_file %}
                    &middot; <a href="{{ commons_file.url }}" target="_blank" title="{{ msg('opens-in-new-tab') }}">{{ commons_file.title }}</a>
                    {% endif %}
                </h2>
                {{ commons_fieldset|raw }}
            </section>
            <section class="flickr col form">
                <p>
                    {{ msg('navigation') }}
                    <a href="{{ path('flickr_geotodo') }}">{{ msg('geotodo') }}</a>
                </p>
                {% if flickr_file %}
                    <h2>
                        <em>{{ msg('flickr') }}</em>
                        &middot; <a href="{{ flickr_file.shorturl }}" target="_blank" title="{{ msg('opens-in-new-tab') }}">{{ flickr_file.shorturl }}</a>
                    </h2>
                    {% if not flickr_file.ismine %}
                        <p><em>{{ msg('not-your-file') }}</em></p>
                    {% endif %}
                    {{ flickr_fieldset|raw }}
                {% endif %}
            </section>
        </div>
        <p class="center">
            {% if flickr_file or commons_file %}
            {{ save_button|raw }}
            {% endif %}
        </p>
    </form>

{% endblock %}

{% block script %}
    {% if commons_file %}
        appConfig.coords = {{ commons_file.coordinates|json_encode|raw }};
    {% endif %}
{% endblock %}
