{% extends 'base.html.twig' %}

{% block main %}

    <div id="flickr-dupes" class="whitepage">

        <h2>{{ msg('flickr-find-duplicates') }}</h2>
        <form action="{{ path('flickr_dupes_find') }}" method="get">
            <p>{{ dupesFindButton|raw }}</p>
        </form>

        <h2>{{ msg('flickr-compare-photos') }}</h2>
        <form action="{{ path('flickr_dupes') }}" method="get">
            {{ photo1|raw }}
            {{ photo2|raw }}
            <p>{{ dupesCompareButton|raw }}</p>
        </form>

    </div>

{% endblock %}
